<h1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### list data science languages

In [20]:
#Some of the popular languages that Data Scientists use are:
languageslist = ["python", "java", "c++", "PHP", "javascript"]

languageslist.sort()
print("popular language at data science : ",languageslist)

popular language at data science :  ['PHP', 'c++', 'java', 'javascript', 'python']

### list data science libraries

In [22]:
#Some of the commonly used libraries used by Data Scientists include:
libraryList = ["pandas", "numpy", "Scikit-Learn", "TensorFlow", "Matplotlib", "SciPy"]

libraryList.sort()
print("Some commonly libraries used by data scientists : ", libraryList)

Some commonly libraries used by data scientists :  ['Matplotlib', 'SciPy', 'Scikit-Learn', 'TensorFlow', 'numpy', 'pandas']

### a table of Data Science tools

In [55]:
import pandas as pd
from prettytable import PrettyTable

data = [[1,'Python','programming language'],
        [2,'Jupyter Notebook','create or write code, visualizations, and narratives'],
        [3,'Tableau','data visualization'],
        [4,'TensorFlow','create and train Machine Learning models']]
df = pd.DataFrame(data, columns=['no', 'tools', 'desc'])

def generate_ascii_table(df):
    x = PrettyTable()
    x.field_names = df.columns.tolist()
    for row in df.values:
        x.add_row(row)
    print(x)
    return x

generate_ascii_table(df)

+----+------------------+------------------------------------------------------+
| no |      tools       |                         desc                         |
+----+------------------+------------------------------------------------------+
| 1  |      Python      |                 programming language                 |
| 2  | Jupyter Notebook | create or write code, visualizations, and narratives |
| 3  |     Tableau      |                  data visualization                  |
| 4  |    TensorFlow    |       create and train Machine Learning models       |
+----+------------------+------------------------------------------------------+

+----+------------------+------------------------------------------------------+
| no |      tools       |                         desc                         |
+----+------------------+------------------------------------------------------+
| 1  |      Python      |                 programming language                 |
| 2  | Jupyter Notebook | create or write code, visualizations, and narratives |
| 3  |     Tableau      |                  data visualization                  |
| 4  |    TensorFlow    |       create and train Machine Learning models       |
+----+------------------+------------------------------------------------------+

<h3> Below are a few examples of evaluating arithmetic expressions in Python

In [56]:
hasil = ( 3 * 4 ) + 5;

print(hasil)

17

In [60]:
input_minutes = 200

# Conversion min to hours
hours = input_minutes // 60
left_minutes = input_minutes % 60

print(f"{input_minutes} minutes = {hours} hours and {left_minutes} minutes.")

200 minutes = 3 hours and 20 minutes.

**list programming language in data science :**
 <ul> 
        <li>Python</li> 
        <li>R</li>
        <li>SQL</li>
        <li>Scala</li>
    </ul>

<h2> Author: Azmi Fauziah